fastapi
uvicorn[standard]
SQLAlchemy
alembic
pymysql
psycopg2-binary
cryptography
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
pydantic-settings
python-dotenv
pytest
httpx
shapely
geojson
geopandas
rasterio
numpy
pystac-client
google-generativeai
